{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 px-1 bg-light position-fixed" id="sticky-sidebar">
            <div class="nav flex-column">
                <a href="#_" class="nav-link">Link</a>
                <a href="#_" class="nav-link">Link</a>
                <a href="#_" class="nav-link">Link</a>
                <a href="#_" class="nav-link">Link</a>
                <a href="#_" class="nav-link">Link</a>
            </div>
        </div>
        <div class="col-md-2 offset-3" id="main">
            <h1>Main Area</h1>
            ...
        </div>
    </div>
</div>
{% endblock%}
